.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.create_form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.home ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.home ul li {
    height: 50px;
    width: 365px;
  list-style: none;
  font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    border: 2px solid black;
    border-radius: 10px;
}
.home ul li span {
  position: relative;
    top: 13px;
    left: 10px;
}

.edit{
    color: black;
    cursor: pointer;
    float: right;
    margin: 15px 10px 10px 10px;
}
.edit:hover{
    background-color: seagreen;
}
.delete{
    color: red;
    cursor: pointer;
    float: right;
    margin: 15px 10px 10px 10px;
}
.delete:hover{
    background-color: rgb(109, 90, 179);
    color: white;
}